/* grid */

.bit-20 {
    width: 20%;
}

.bit-80 {
    width: 80%;
}

/* packery */

/* ---- grid ---- */

.grid {
  background: #DDD;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-item {
  width: 33.333%;
}

.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  max-width: 100%;
}




/* menus / navigation */

.frame .box-20 .filters {

}

.frame .box-20 .filters {
	
}

/* hover */

figure {
	margin: none !important;
}
