#instafeed img {
    width: auto;
}


/* instagram slider */

section.insta {
	height: auto;
	width: 100%;
}


#instafeed {
    width: 100%;
    height: auto;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    margin: 0 auto;
}

#instafeed img {
    display: inline;
    display: inline-block;
}

::-webkit-scrollbar {
    height: 12px;
    width: 12px;
    background: #f1dfd2;
}

::-webkit-scrollbar-thumb {
    background: #89715e;
}

::-webkit-scrollbar-corner {
    background: #f1dfd2;
}

